<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Recipes</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <header class="site-header">
      <nav class="blue darken-1">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo center">Recipies</a>
          <ul class="right">
            <li><a href="/recipe/new">Add Recipe</a></li>
            <li><a href="/user/new">New User</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="container">
      {{{ body }}}
    </main>
  </body>
</html>
