<section class="row">
  <h4>Create New User:</h4>

  <form action="/user" method="POST" class="auth-form">
    <p class="input-field">
      <input type="email" name="email" placeholder="Email">
    </p>
    <p class="input-field">
      <input type="password" name="password" placeholder="Password">
    </p>
    <p class="input-field">
      <input type="submit" value="Sign Up" class="btn blue darken-1">
    </p>
  </form>
</section>
