<section class="profile">
  <h2>{{user.email}}</h2>
  {{#if user.recipies}}
    <div class="recipies">
      {{#each user.recipies}}
         {{> 'recipe'}}
      {{/each}}
    </div>
  {{else}}
    <p>No Recipies Yet</p>
  {{/if}}
</section>
